@use "/src/scss/index.scss" as *;

.box {
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-top: 70px;
  padding-bottom: 40px;
}

.list {
  gap: 15px;

  & > li:last-child {
    margin-top: 40px;
  }
}
