@use "/src/scss/variables.scss" as *;

%btn-primary {
  width: 240px;
  font-weight: $font-weight-bold;
  font-size: 15px;
  line-height: $line-height-large;
  color: $color-secondary;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid $color-secondary;
  border-radius: $radius-small;
  padding-block: 18px;
  cursor: pointer;
}
