@use "/src/scss/index.scss" as *;

section.section {
  width: 100%;
  height: calc(97.5dvh - 184px);
  box-sizing: border-box;
  padding-top: 50px;
  padding-left: 120px;
}

.title,
.subtitle {
  font-size: 36px;
  font-weight: 600;
  line-height: 46.08px;
  color: $color-secondary;
}

.subtitle {
  max-width: 500px;
  margin-top: auto;
}
