@use "/src/scss/index.scss" as *;

.wrapper {
  min-height: 100dvh;
  padding: 0 80px 100px;
}

.box {
  min-height: 80dvh;
  background-color: $bg-color-muted;
  box-shadow: inset 0 0 0 50vw rgba(0, 0, 0, 0.4);
}
