@use "/src/scss/index.scss" as *;

.section {
  max-width: 500px;

  @include max-width(1280px) {
    align-self: baseline;
  }
}

.title {
  font-size: $font-size-extra-large;
  font-weight: $font-weight-semi;
  line-height: $line-height-medium;
  margin-bottom: 35px;
}

.text {
  font-size: $font-size-medium;
  color: $color-muted;
  margin-bottom: 20px;
}

.list {
  list-style-type: disc;
  padding-left: 24px;
  margin-bottom: 65px;
}

.btn {
  @extend %btn-accent;
}
