@use "/src/scss/index.scss" as *;

.text {
  font-weight: $font-weight-bold;
  font-size: 10px;
  line-height: 2.8;
  letter-spacing: 3px;
  writing-mode: vertical-rl;
  transform: rotate(-180deg);
  margin-top: 25px;
}
