@use "/src/scss/index.scss" as *;

header.header {
  width: 100%;
  box-sizing: border-box;
  padding-left: 30px;
}

.list {
  color: $color-secondary;
  gap: 30px;
}

.link {
  font-weight: $font-weight-bold;
  font-size: $font-size-large;
}
