@use "/src/scss/index.scss" as *;

.border {
  border-left: 1px solid $color-border;
  border-right: 1px solid $color-border;
}

div.wrapper {
  width: 100%;
  box-sizing: border-box;
  padding-left: 120px;
}

.box {
  max-width: 612px;
}

.text {
  font-size: $font-size-medium;
  color: $color-muted;
}
