@use "/src/scss/index.scss" as *;

div.wrapper {
  width: 100%;
  box-sizing: border-box;
  padding-left: 120px;
}

.box {
  max-width: 612px;
}

.text {
  font-size: $font-size-medium;
  color: $color-muted;
}
