@use "/src/scss/index.scss" as *;

.box {
  gap: 120px;
}

.trulliBox {
  &::before {
    content: "";
    position: absolute;
    top: -16%;
    left: 9%;
    width: 100%;
    height: 100%;
    border: 1px solid $color-muted-brighter;
    z-index: -1;
  }
}

.vineyardBox {
  &::before {
    content: "";
    position: absolute;
    top: 11%;
    left: -11%;
    width: 100%;
    height: 100%;
    border: 1px solid $color-muted-brighter;
    z-index: -1;
  }
}
