@use "/src/scss/index.scss" as *;
@import url("https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,100..900&family=Work+Sans:wght@100..900&display=swap");

$global-font-family: "Work Sans", serif;
$global-color: #1b1c21;

@import "/node_modules/modern-normalize/modern-normalize.css";
@import "/node_modules/uikit/src/scss/variables-theme.scss";
@import "/node_modules/uikit/src/scss/mixins-theme.scss";
@import "/node_modules/uikit/src/scss/uikit-theme.scss";

*,
ul,
ol,
p {
  padding: 0;
  margin: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
}

button {
  cursor: pointer;
}

%pseudo-border {
  content: "";
  position: absolute;
  top: 0;
  width: 80px;
  height: 98%;
}

main {
  position: relative;
  padding: 190px 100px 0;

  &::before {
    @extend %pseudo-border;
    left: 0;
    border-right: 1px solid $color-border;
  }

  &::after {
    @extend %pseudo-border;
    right: 0;
    border-left: 1px solid $color-border;
  }
}
