@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@100..900&display=swap");

$global-font-family: "Work Sans", sans-serif;

@import "/node_modules/normalize-scss/sass/normalize/import-now";
@import "/node_modules/uikit/src/scss/variables-theme.scss";
@import "/node_modules/uikit/src/scss/mixins-theme.scss";
@import "/node_modules/uikit/src/scss/uikit-theme.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  padding: 0;
  margin: 0;
}
