$font-weight-semi: 600;
$font-weight-bold: 700;
$color-primary: #1b1c21;
$color-primary-muted: #666;
$color-secondary: #fff;
$bg-color-muted: #525252;
$font-size-large: 18px;
$line-height-small: 1.1;
$line-height-large: 1.7;
$radius-small: 5px;
