$font-family-secondary: "Inter", sans-serif;
$font-weight-semi: 600;
$font-weight-bold: 700;
$color-primary: #1b1c21;
$color-secondary: #fff;
$color-muted: #666;
$color-muted-brighter: #d3d3d3;
$color-accent-darker: #936565;
$color-accent: #cdb6b4;
$color-accent-brighter: #f3eeed;
$color-accent-secondary: #b7a18b;
$bg-color-muted: #525252;
$color-border: #cdcdcd;
$font-size-tiny: 13px;
$font-size-extra-small: 14px;
$font-size-small: 15px;
$font-size-medium: 17px;
$font-size-large: 18px;
$font-size-extra-large: 36px;
$font-size-huge: 48px;
$line-height-small: 1.1;
$line-height-medium: 1.3;
$line-height-large: 1.7;
$radius-small: 5px;
