$font-weight-semi: 600;
$font-weight-bold: 700;
$color-primary: #1b1c21;
$color-secondary: #fff;
$color-muted: #666;
$color-muted-brighter: #d3d3d3;
$color-accent-darker: #936565;
$bg-color-muted: #525252;
$font-size-medium: 17px;
$font-size-large: 18px;
$font-size-extra-large: 36px;
$line-height-small: 1.1;
$line-height-medium: 1.3;
$line-height-large: 1.7;
$radius-small: 5px;
