@use "/src/scss/index.scss" as *;

.box {
  margin-bottom: 100px;
}

.ornamentBox {
  gap: 12px;
  margin-bottom: 12px;
}

.ornamentText {
  font-size: $font-size-extra-small;
  line-height: 2;
  letter-spacing: 4px;
  color: $color-accent-secondary;
  text-transform: uppercase;
}

.section {
  max-width: 790px;
}

.title {
  font-size: $font-size-huge;
  font-weight: $font-weight-semi;
  line-height: $line-height-small;
  letter-spacing: -0.01em;
  margin-bottom: 32px;
}

.text {
  font-size: $font-size-medium;
  color: $color-muted;
  text-align: center;
}
